{% extends 'base.html.twig' %}

{% block title %}Maintenance{% endblock %}

{% block body %}
    <h1>L'application Choix Option est actuellement en maintenance</h1>
    <p>Nous nous excusons pour la gêne occasionnée et nous faisons tout notre possible pour rétablir le service le plus rapidement possible.</p>
{% endblock %}