{% extends 'base.html.twig' %}

{% block title %}New UserGestion{% endblock %}

{% block body %}
    <h1>Create new UserGestion</h1>

    {{ include('etudiant/_form.html.twig') }}

    <a href="{{ path('app_etudiant_index') }}">back to list</a>
{% endblock %}
