{% extends 'base.html.twig' %}

{% block title %}Nouvel étudiant{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Création d'un étudiant</h4>
        </div>
        <div class="flex-shrink-0">
            <a href="{{ path('app_etudiant_index') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-arrow-left"></i>
                {{ 'utils.back_to_list'|trans }} des étudiants
            </a>
        </div>
    </div>

    {{ include('etudiant/_form.html.twig') }}
{% endblock %}
