{% extends 'base.html.twig' %}

{% block title %}New UE{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Création d'une UE</h4>
        </div>
        <div class="flex-shrink-0">
            <a href="{{ path('app_ue_index') }}" class="btn btn-sm btn-primary">
                <i class="fas fa-arrow-left"></i>
                Retour à la liste de UE
            </a>
        </div>
    </div>

    {{ include('ue/_form.html.twig') }}
{% endblock %}
