{% extends 'base.html.twig' %}

{% block title %}Edition groupe{% endblock %}

{% block body %}
    <h1>Modification d'un groupe</h1>

    {{ include('groupe/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_groupe_index') }}">Retour</a>

    {{ include('groupe/_delete_form.html.twig') }}
{% endblock %}
