{% extends 'base.html.twig' %}

{% block title %}Edit UserGestion{% endblock %}

{% block body %}
    <h1>Edit UserGestion</h1>

    {{ include('user_gestion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_gestion_index') }}">back to list</a>

    {{ include('user_gestion/_delete_form.html.twig') }}
{% endblock %}
