<form method="post" action="{{ path('app_campagne_choix_delete', {'id': campagne_choix.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campagne_choix.id) }}">
    <button class="btn btn-sm btn-danger">
        <i class="fa fa-trash"></i>
        Supprimer
    </button>
</form>
