{% extends 'base.html.twig' %}

{% block title %}Edit Rythme{% endblock %}

{% block body %}
    <h1>Edit Rythme</h1>

    {{ include('rythme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rythme_index') }}">back to list</a>

    {{ include('rythme/_delete_form.html.twig') }}
{% endblock %}
