{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="text-end mb-3">
        <button class="btn btn-sm btn-primary">
            <i class="fas fa-save"></i>
            {{ button_label|default('Enregistrer') }}
        </button>
    </div>

{{ form_end(form) }}
