{% extends 'base.html.twig' %}

{% block title %}Edit AnneeFormation{% endblock %}

{% block body %}
    <h1>Edit AnneeFormation</h1>

    {{ include('annee_formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_annee_formation_index') }}">back to list</a>

    {{ include('annee_formation/_delete_form.html.twig') }}
{% endblock %}
