{% extends 'base.html.twig' %}

{% block title %}Edit AnneeFormation{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="flex-grow-1">
            <h4>Modification d'une année de formation</h4>
        </div>
        <div class="flex-shrink-0">
            <div class="d-flex gap-2">
                {{ include('annee_formation/_delete_form.html.twig') }}

                <a href="{{ path('app_annee_formation_index') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'utils.back_to_list'|trans }}
                </a>
            </div>
        </div>
    </div>

    {{ include('annee_formation/_form.html.twig') }}
{% endblock %}
