<p>Bonjour,</p>
<p>
    S'il vous plaît confirmer votre adresse e-mail en cliquant sur le lien ci-dessous:<br /><br />
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>
</p>

<p>
    Cordialement,<br>
    Choix d'option UPJV
</p>